h1{
    text-align: center;
    color: blueviolet;
}

.chrono{
  margin: auto ;
  width: 450px;
  text-align: center;
  
}

.time{
    margin: auto;
    width: 450px;
    border: 1px dotted blueviolet;
    padding:7px 0;
    text-align: center;
    font-size: 1.7em;
    margin-bottom: 15px;
    color: grey;


}

button{
  background: grey;
  color: white;
  width: 165px;
  border-radius: 5px;
  line-height: 1.5em;
  border: 1px blueviolet solid;
  margin: 3px;
}



html {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#timer {
  font-weight: bold;
  font-size: 4em;
}
.background{
  background-color: brown;
}